<html lang="en">
<body id="handlebars-tmp" style="position: relative; width: {{width}}; height: {{height}}; background-color: {{bgColor}};">
<div style="position: absolute; bottom: 0; left: 0;">
    <div style="position: absolute; top: 0; left: 0; 'z-index': -1; width: {{width}}; height: {{overlayHeight}}; background-color: {{bgColor}};">

    </div>
    <img alt="image" src="{{lemonImgUrl}}" width="{{width}}" height="{{width}}"
         />
</div>

</body>
</html>